  /* ------------------ COLORS ---------------- */
$whiteColor: #ffffff;
$blackColor: #000000;
$accentColor: #FF6B01;
$underlineColor: #FF001B;
$highlightColor: #F7F7F7;
$footerTextColor: #545454;
$backdropColor: rgba(0, 0, 0, 0.56);
$modalTypesColor: #8C8C8C;
$backgoundColorHomePage: #E5E5E5;
  /* ------------------ TRANSITION ---------------- */
$dur-time: 250ms;
$time-fun: cubic-bezier(0.4, 0, 0.2, 1);
