  <div class="backdrop__footer is-hidden" data-modal-footer>
  <div class="modal__footer">
    <button class="close-btn__footer" type="button" data-modal-close-footer>
      <svg class="close-btn__icon" width="25" height="25">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>


    <div class="modal-wrap team">
    <h2 class="team-tittle">Developers team</h2>
          <ul class="team__list">
        <li class="team__item">
          <img
            src="./images/team/team-lead.jpg"
            alt="Volodymyr Bakumenko"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Volodymyr Bakumenko</p>
          <p class="team__item-role">Team Lead</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/Klerk777"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

        <li class="team__item">
          <img
            src="./images/team/viktoria.jpg"
            alt="Viktoriia Prysiazhniuk"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Viktoriia Prysiazhniuk</p>
          <p class="team__item-role">Scrum</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/vklya"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>


      <li class="team__item">
          <img
            src="./images/team/yevhen_Serdiuk.jpg"
            alt="Yevhen Serdiuk"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Yevhen Serdiuk</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/YevhenSerdiuk2022"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

       <li class="team__item">
          <img
            src="./images/team/mykolaProkhorov.jpg"
            alt="Mykola Prokhorov"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Mykola Prokhorov</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/Mukola-P"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=" "
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

        <li class="team__item">
          <img
            src="./images/team/vladyslavViblyi.jpg"
            alt="Vladyslav Viblyi"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Vladyslav Viblyi</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/donvladon2310"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

 <li class="team__item">
          <img
            src="./images/team/zhannaSokha.jpg"
            alt="Zhanna Sokha"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Zhanna Sokha</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/Zhanna55"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

 <li class="team__item">
          <img
            src="./images/team/annaShokarieva.jpg"
            alt="Anna Shokarieva"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Anna Shokarieva</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/AnnaSh85"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

 <li class="team__item">
          <img
            src="./images/team/yaroslavKhakhuda.jpg"
            alt="Yaroslav Khakhuda"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Yaroslav Khakhuda</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/leprecoin112"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

      <li class="team__item">
          <img
            src="./images/team/andriiPonedilnyk.jpg"
            alt="Andrii Ponedilnyk"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Andrii Ponedilnyk</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/Andriy323"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>

    <li class="team__item">
          <img
            src="./images/team/petroDubovskyi.jpg"
            alt="Petro Dubovskyi"
            class="team__item-img"
            loading="lazy"
          />
          <div class="team__item-data">
          <p class="team__item-name">Petro Dubovskyi</p>
          <p class="team__item-role">Developer</p>
          <div class="team__item-wrap">
            <a
              href="https://github.com/pdubovskyi"
              target="_blank"
              title="Link to Git Hub"
            >
              <img
                src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-512.png"
                alt=""
                class="team__item-icon"
                loading="lazy"
              />
            </a>
          </div>
          </div>
     </li>
</div>
  </div>

</div>
